@media screen and (max-width: 700px) {
body{
    background-color: #363636;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: auto;
}
header{
    display: flex;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: #ccc;
    justify-content: space-around;
}
header span:nth-child(2){
    text-shadow: 1px 1px 10px white;
    font-weight: 600;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    padding: 15px;
    border: none;
    background-color: #4d4d4d;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
input::placeholder{
    color: white;
    font-weight: 700;
}
.cab img{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 80px;
    
}
.cab{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;

}
.cab span{
    color: #3b6cfe;
}
.formulario{
    max-width: 355px;
    margin: auto;
}
footer{
    width: 100%;
    display: flex;
    flex-flow:wrap column;
    font-size: 15px;
}
footer sub{
    padding: 3px 0 10px;
    color: rgb(234, 234, 234);
    text-align: center;
}
footer button{
    padding: 15px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #3b6cfe;
    color: #2a2a2a;
    cursor: pointer;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color: #3b6cfe;
}
input{
    color: white;
    outline: 0;
}
}