body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #404040;

}

.container{
    background-image: url(./images/cj\ e\ a\ morena.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow:wrap column ;
    margin-top: 62%;
    justify-content: center;
    align-items: center;
    height: 400px;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    color: whitesmoke;
    width: 100%;

}
audio{
    display: none;
}
.container span{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.botoes{
    display: flex;
    justify-content: space-around;
    width: 230px;

}
button{
border: none;
padding: 12px;
font-weight: 600;
color: black;
width: 90px;
border-radius: 5px;
font-size: 15px;
}
canvas{
    display: none;
}
